{% load static i18n wagtailuserbar durhamforall_tags %}
<!DOCTYPE html>
<html>
{% include "header.html" %}
<body class="{% block body_class %}{% endblock %}">

<div class="container">
    <h1>{% trans "Durham for All"%}{% if page.title != "Home"%} | {{ page.title }} {% endif %}</h1>
</div>
{% block menu %}
{% get_site_root as site_root %}
{% top_menu parent=site_root calling_page=self %}
{% endblock %}
<div class="container">
    <div class="row">{% block title %}
        {% endblock %}</div>
    <div class="row">
        <div class="{% block content_class %}col-md-8{% endblock %}">
        {% block content %}
        {% endblock %}
    </div>
    {% block sidebar %}
    <div class="col-md-4">
        <a class="btn btn-default btn-lg btn-block" href="/donate">{%  trans "Donate" %}</a>
        <a class="btn btn-primary btn-lg btn-block" href="/pledge">{%  trans "Join Us!" %}</a>
        <a class="btn btn-default btn-lg btn-block" href="mailto:info@durhamforall.org">{% trans "Contact Us" %}</a>
    </div>
    {% endblock %}
</div>
</div>
{% include "footer.html" %}
</body>
</html>
