<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-video" data-href="{{video_href}}" data-width="750" data-show-text="false" data-autoplay="true">
    <blockquote cite="{{video_href}}" class="fb-xfbml-parse-ignore"><p>&quot;10k Strong is about breaking the racial, economic, and fear barriers that keep Durham&#039;s progressive majority from actually coming together and making the changes that would really impact our people&#039;s lives.

        Durham, sign the #10kStrong Pledge at: durhamforall.org/pledge
        ____
        Created by Ashlyn Nuckols. Music by Sijal Nasralla.</p>Posted by <a href="https://www.facebook.com/durham4all/">Durham For All</a>
    </blockquote>
</div>
